/* Cascade style sheet based on movies.dtd DTD */
filmy {   display: block;
          padding-left:20px;
          margin-left:40px;
          background-color: darkred;}
metadane { display: block }
autorzy:before {content: "Zadanie 1 - XML + XSD + CSS";

                display: block;
                font-weight: bold;
                font-size: 30px;
                text-align: center;
}
autor { display: block;
        font-weight: bold;
        font-size: 30px;
        text-align: center;}
wersja:before{content: "wersja: ";
              display: inline;}
wersja { display: block;
         padding-right: 20px;
         font-weight: bold;
         font-size: 19px;
         text-align: right;}
osoby_modyfikujące:before{content: "Modyfikowali: "}
osoby_modyfikujące { display: block;
                     font-style: italic;
                     font-size: 15px;
                     text-align: center;}
opis {               display: block;
                     font-style: italic;
                     font-size: 33px;
                     text-align: left;
                     color: darkslategrey;}
filmy > film { display: list-item;
               list-style-type: decimal;
               padding: 40px;
               padding-top: 25px;
               width: 600px;
               height: auto;
               alignment-adjust: central;
               border-style: dotted;
               border-color: greenyellow;
               background-image: url("zzz.gif");
               background-size: 100%;} 
filmy > film > tytuł,
filmy > film > reżyser,
filmy > film > data_premiery,
filmy > film > box_office,
filmy > film > ograniczenie_wiekowe,
filmy > film > gatunek,
filmy > film > aktorzy
{ display: table-row;
  background-color: gold;
  font-family: Helvetica;}

filmy > film > aktorzy > aktor { 
    display:  table-row;
    color: red; 
    border-color: #002288;
    background-color: gold;
}
filmy > film > aktorzy > aktor:after {content: attr(filmweb);
                                      color: blue}
filmy > film > aktorzy > aktor > imię { display: inline;
                                        background-color: gold;}
filmy > film > aktorzy > aktor > nazwisko { display: inline ;
                                            background-color: gold;}
filmy > film > gatunek:after {content: attr(GATUNEK);
                              display: table-cell;}
filmy > film > ograniczenie_wiekowe:after {content: attr(od_lat)}
filmy > film > tytuł:before { content: "Tytuł: ";
                              width: 130px;}
filmy > film > reżyser:before { content: "Reżyser: ";}
filmy > film > data_premiery:before { content: "Data premiery: ";}
filmy > film > aktorzy:before { content: "Aktorzy: ";}
filmy > film > box_office:before { content: "Box office: ";}
filmy > film > box_office:after { content: " "attr(waluta);
}
filmy > film > ograniczenie_wiekowe:before { content: "Zalecany wiek: ";}
filmy > film > gatunek:before { content: "Gatunek: ";}

filmy > film > tytuł:before,
filmy > film > reżyser:before,
filmy > film > data_premiery:before,
filmy > film > aktorzy:before,
filmy > film > box_office:before,
filmy > film > ograniczenie_wiekowe:before,
filmy > film > gatunek:before{
    display: table-cell;
    font-weight: bold;
    font-family: Arial;


}
filmy > studia > studio{display: none}

